* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}


header {
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters input,
.filters select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.container {
  padding: 40px;
}


.category {
  margin-bottom: 40px;
}

.category h2 {
  margin-bottom: 15px;
  border-left: 5px solid #000;
  padding-left: 10px;
}


.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #666;
}

/* Footer */
footer {
  border-top: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

/* Responsive */
@media (max-width: 1000px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
  }
}